{% extends 'gestionCommerce/basic.html' %}
{% block title %}Gestion Commerce | Details de commande{% endblock %}
{% block content %}
<div class="container" style="margin-top: 4rem;">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <div class="jumbotron text-center ">
                    <h1 class="display-4"><b><i>{{ commande.num }}</i></b></h1>
                </div>

                <ul><b>Client:</b> {{ commande.client }}</ul>
                <ul><b>Date:</b> {{ commande.date_commande }}</ul>
                <ul><b>Type de facture:</b> {{ commande.type_facture }}</ul>
                <ul><b>Produit:</b>
                    {% for commande_produit in commande.commandeproduit_set.all %}
                    <ul>* {{ commande_produit.produit.Nom }} (Quantité: {{ commande_produit.Quantite }})</ul>
                    {% endfor %}
                </ul>

                <div style="text-align: center;">
                    <a href="{% url 'gestionCommerce:updateCo' commande.id %}" class="btn btn-warning">Modifier</a>
                    <!-- <form action="{% url 'gestionCommerce:deleteCo' commande.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Supprimer">
                    </form> -->
                    <a href="{% url 'gestionCommerce:deleteCo' commande.id %}" class="btn btn-danger">Supprimer</a>

                    <br>
                    <a href="{% url 'gestionCommerce:index' %}"
                        style="border-radius: 7%; width: 100px; text-decoration: none; background-color: #7097c2; color: #ffffff;display: inline-block; text-align: center; border: none; outline: none; padding: 1.5%; margin: 5px;">Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block contents %}
{% endblock %}