{% extends 'gestionCommerce/basic.html' %}
{% block title %}Gestion Commerce | Confirmer la suppression{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron text-center mt-5">
        <h3 class="display-4">Confirmer la suppression</h3>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body" style="text-align: center;">
                {% if produit %}
                <p>Êtes-vous sûr de vouloir supprimer le produit "{{ produit }}" ?</p>
                {% elif client %}
                <p>Êtes-vous sûr de vouloir supprimer le client "{{ client }}" ?</p>
                {% elif commande %}
                <p>Êtes-vous sûr de vouloir supprimer la commande "{{ commande }}" ?</p>
                {% endif %}
                <form method="Post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                    <a href="{% url 'gestionCommerce:index' %}" class="btn btn-secondary">Annuler</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block contents %}
{% endblock %}