{% extends 'gestionCommerce/basic.html' %} 
{% block title %}Gestion Commerce | Page d'accueil{% endblock %}


        {% block clients %}
            {% if client_list %}
                <h2 class="card-title">Liste des Clients <a href="{% url 'gestionCommerce:addC' %}" style="border-radius: 50%; text-decoration: none; background-color: #7097c2; color: #fff; width: 30px; line-height: 25px;font-size: 30px;display: inline-block; text-align: center;">&plus;</a></h2>
                <p class="card-text">Consultez la liste de tous vos clients.</p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">CIN</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in client_list %}
                        <tr>
                        <th scope="row">{{client.id}}</th>
                        <td scope="row"> {{client.CIN}}</td>
                        <td scope="row"> {{client.Nom}}</td>
                        <td scope="row">{{client.Prenom}}</td>
                        <td scope="row"><a href="{% url 'gestionCommerce:client' client.id %}" style="border-radius: 10%; text-decoration: none; background-color: #7097c2; color: #fff; width: 30px; line-height: 25px;font-size: 30px;display: inline-block; text-align: center;">&rarr;</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>Aucun client n'a été ajouté  <a href="{% url 'gestionCommerce:addC' %}" style="border-radius: 50%; text-decoration: none; background-color: #7097c2; color: #fff; width: 30px; line-height: 25px;font-size: 30px;display: inline-block; text-align: center;">&plus;</a></h4>
            {% endif %}
        {% endblock %}
        {% block produits %}
            {% if produit_list %}
                <h2 class="card-title">Liste des Produits <a href="{% url 'gestionCommerce:addP' %}" style="border-radius: 50%; text-decoration: none; background-color: #7097c2; color: #fff; width: 30px; line-height: 25px;font-size: 30px;display: inline-block; text-align: center;">&plus;</a></h2>
                <p class="card-text">Explorez notre gamme de produits.</p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produit in produit_list %}
                        <tr>
                        <th scope="row">{{produit.id}}</th>
                        <td scope="row"> {{produit.Nom}}</td>
                        <td scope="row"><a href="{% url 'gestionCommerce:produit' produit.id %}" style="border-radius: 10%; text-decoration: none; background-color: #7097c2; color: #fff; width: 30px; line-height: 25px;font-size: 30px;display: inline-block; text-align: center;">&rarr;</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>Aucun produit n'a été ajouté  <a href="{% url 'gestionCommerce:addP' %}" style="border-radius: 50%; text-decoration: none; background-color: #7097c2; color: #fff; width: 30px; line-height: 25px;font-size: 30px;display: inline-block; text-align: center;">&plus;</a></h4>
            {% endif %}
        {% endblock %}

        {% block commandes %}
        {% if commande_list %}
        <h2 class="card-title">Liste des Commandes <a href="{% url 'gestionCommerce:addCo' %}"
                style="border-radius: 50%; text-decoration: none; background-color: #7097c2; color: #fff; width: 30px; line-height: 25px;font-size: 30px;display: inline-block; text-align: center;">&plus;</a>
        </h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Num Commande</th>
                    <th scope="col">Client</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for commande in commande_list %}
                <tr>
                    <th scope="row">{{commande.num}}</th>
                    <td scope="row"> {{commande.client}}</td>
                    <td scope="row">{{commande.date_commande}}</td>
                    <td scope="row"><a href="{% url 'gestionCommerce:commande' commande.id %}"
                            style="border-radius: 10%; text-decoration: none; background-color: #7097c2; color: #fff; width: 30px; line-height: 25px;font-size: 30px;display: inline-block; text-align: center;">&rarr;</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4>Aucune commande <a href="{% url 'gestionCommerce:addCo' %}"
                style="border-radius: 50%; text-decoration: none; background-color: #7097c2; color: #fff; width: 30px; line-height: 25px;font-size: 30px;display: inline-block; text-align: center;">&plus;</a>
        </h4>
        {% endif %}
        {% endblock %}
